/*--------------Animation 1 Slide + Fade---------------*/
.animate-container {
  border:none;
  position:relative;
  height:650px;
  overflow:hidden;
}

.view-animate.ng-enter, .view-leave.ng-leave{
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  opacity:0;
  left:200px;
  width:100%;
  position:absolute;
}

.view-animate {
  padding:10px;
}

.view-animate.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.view-animate.ng-leave {
  position:absolute;
  left:0;
  width:100%;
  opacity:1;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100px;
  opacity:0;
}

/*-----------Animation 2 Simple Fade----------------*/

.fade {list-style: none;}

.fade.ng-enter,
.fade.ng-leave,
.fade.ng-move { -webkit-transition:0.7s linear all; transition: 0.5s linear all; opacity:0;}

.fade.ng-leave.ng-leave-active,
.fade.ng-move,
.fade.ng-enter {opacity: 0;}

.fade.ng-leave,
.fade.ng-move.ng-move-active,
.fade.ng-enter.ng-enter-active {opacity: 1;}

