@font-face
{
font-family: Gravur;
src: url('../fonts/GraCoLt_.ttf');
}

@font-face
{
font-family: Akkurat;
src: url('../fonts/Akkurat.ttf');
}

@font-face
{
font-family: Ostrich;
src: url('../fonts/Ostrich.ttf');
}

@font-face
{
font-family: Bebas;
src: url('../fonts/Bebas.ttf');
}

@font-face
{
	font-family: ionicons;
	src:url('../fonts/ionicons.eot');
	src:url('../fonts/ionicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ionicons.woff') format('woff'),
		url('../fonts/ionicons.ttf') format('truetype'),
		url('../fonts/ionicons.svg#ionicons') format('svg');
	font-weight: normal;
	font-style:normal;
}
	

.mytabs {margin: 0px; padding: 0px; list-style-type: none;}
.mytabs-data {background: none; padding: 15px;}
.mytabs-data h1 {font-size: 1.6em;}

a {text-decoration: none;}

a:active, a:hover {
outline: 0;
}

section, footer, header, aside, nav{
	display: block;
}

/*-------------------------
		NAV TAB
--------------------------*/

nav{
	display:inline-block;
	margin:0px auto;
	background-color:#2d2d2d;
	box-shadow:0 1px 1px #ccc;
	border-radius:2px;
	width:100%;
}

nav button.mylink{
	border-right: 45px solid #2ab686!important;
	border:none;
	font-family: ostrich;
	display:inline-block;
	padding: 25px!important;
	color:#fff !important;
	font-size:2.1em;
	text-decoration:none !important;
	line-height:1;
	text-transform: uppercase;
	background: #303030;
	background: -moz-linear-gradient(top, #303030 0%, #232323 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303030), color-stop(100%,#232323));
	background: -webkit-linear-gradient(top, #303030 0%,#232323 100%);
	background: -o-linear-gradient(top, #303030 0%,#232323 100%);
	background: -ms-linear-gradient(top, #303030 0%,#232323 100%);
	background: linear-gradient(to bottom, #303030 0%,#232323 100%);
	clear:both;
	-webkit-transition: all .6s ease-in-out;
}

nav button.mylink:after{
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	border-right: 44px solid #2ab686;
	border-top: 94px solid transparent;
    -webkit-transition: all .6s ease-in-out;
}

nav button.button.mylink.active{
	z-index:1; 
	border-right: 45px solid #d77c1f!important;
	border:none;
	font-family: ostrich;
	display:inline-block;
	padding: 25px!important;
	color:#fff !important;
	text-decoration:none !important;
	line-height:1;
	text-transform: uppercase;
	background: linear-gradient(to bottom, #161616 0%,#232323 100%);
	-webkit-box-shadow: 0px 3px 0px rgba(66,66,66,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(66,66,66,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(66,66,66,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    bottom:4px;
    clear:both;
    -webkit-transition: all .6s ease-in-out;
/*	-webkit-transform: scale(1.05);*/

}

nav button.button.mylink.active:after{
	z-index:1; 
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	border-right: 44px solid #d77c1f;
	border-top: 94px solid transparent;
    -webkit-transition: all .6s ease-in-out;
}

nav button.mylink:first-child{
	border-radius:2px 0 0 2px;
}

nav button.mylink:last-child{
	border-radius:0 2px 2px 0;
}

/*********Search Input********/

.card, .list-inset {
overflow: hidden;
margin: 0px 0px;
border-radius: 0;
background-color: #fff;
}

/*********FONTS**************/
.gravur {font-family: Gravur, sans-serif; }
.akkurat {font-family: Akkurat, sans-serif; }
.ostrich {font-family: Ostrich, sans-serif;}
.bebas {font-family: Bebas, sans-serif;}

.header-white {line-height: 78%; color:#fff; font-size: 4em;}
.p-white {color:#fff; font-size: 1.9em; font-weight: lighter;}

#heading {
	position: relative;
/*	z-index: 1!important;*/
	background-image: url(../img/main-bg.jpg)!important;
	-webkit--shadow: 0px 9px 20px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 9px 20px rgba(50, 50, 50, 0.5);
	box-shadow: 0px 9px 20px rgba(50, 50, 50, 0.5);
	border-bottom:none;
	height:90px !important;
	padding:10px;
	background: #363636;
	}

.bar.mysubheading {
	position: absolute;
/*	z-index: -1!important;*/
	border: none!important;
	background: url(../img/gradient2.png) no-repeat #363636; 
	background-position: center;
	height:60px;
	-webkit-box-shadow: inset 0px 8px 14px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 8px 14px -7px rgba(0,0,0,0.75);
	box-shadow: inset 0px 8px 14px -7px rgba(0,0,0,0.75);
}

.bar.mysubheading h2 {padding:10px; font-size: 2.4em;}

.logo { height: auto; width: 85px; padding: 5px; }

.box {width:100%; height:1050px;}

#spectrum-container-1 {	background-image: url(../img/spectrum1.png)!important;}
#spectrum-container-2 {	background-image: url(../img/spectrum2.png)!important;}
#spectrum-container-3 {	background-image: url(../img/spectrum3.png)!important;}
#spectrum-container-4 {	background-image: url(../img/spectrum4.png)!important;}

.blue {

	background: #e80070;
	background: -moz-linear-gradient(top, #e80070 1%, #ffa300 100%, #9ecb2d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e80070), color-stop(100%,#ffa300), color-stop(100%,#9ecb2d));
	background: -webkit-linear-gradient(top, #e80070 1%,#ffa300 100%,#9ecb2d 100%);
	background: -o-linear-gradient(top, #e80070 1%,#ffa300 100%,#9ecb2d 100%);
	background: -ms-linear-gradient(top, #e80070 1%,#ffa300 100%,#9ecb2d 100%);
	background: linear-gradient(to bottom, #e80070 1%,#ffa300 100%,#9ecb2d 100%);
	}
.yellow {
	background: #5a1991;
	background: -moz-linear-gradient(top, #5a1991 1%, #03b5fb 100%, #9ecb2d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#5a1991), color-stop(100%,#03b5fb), color-stop(100%,#9ecb2d));
	background: -webkit-linear-gradient(top, #5a1991 1%,#03b5fb 100%,#9ecb2d 100%);
	background: -o-linear-gradient(top, #5a1991 1%,#03b5fb 100%,#9ecb2d 100%);
	background: -ms-linear-gradient(top, #5a1991 1%,#03b5fb 100%,#9ecb2d 100%);
	}
.pink {
	background: #9a0f84;
	background: -moz-linear-gradient(top, #9a0f84 1%, #d0077b 100%, #9ecb2d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#9a0f84), color-stop(100%,#d0077b), color-stop(100%,#9ecb2d));
	background: -webkit-linear-gradient(top, #9a0f84 1%,#d0077b 100%,#9ecb2d 100%);
	background: -o-linear-gradient(top, #9a0f84 1%,#d0077b 100%,#9ecb2d 100%);
	background: -ms-linear-gradient(top, #9a0f84 1%,#d0077b 100%,#9ecb2d 100%);
	background: linear-gradient(to bottom, #9a0f84 1%,#d0077b 100%,#9ecb2d 100%);
	}
.green {
	background: #1aaf80;
	background: -moz-linear-gradient(top, #1aaf80 0%, #9fcd3f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1aaf80), color-stop(100%,#9fcd3f));
	background: -webkit-linear-gradient(top, #1aaf80 0%,#9fcd3f 100%);
	background: -o-linear-gradient(top, #1aaf80 0%,#9fcd3f 100%);
	background: -ms-linear-gradient(top, #1aaf80 0%,#9fcd3f 100%);
	background: linear-gradient(to bottom, #1aaf80 0%,#9fcd3f 100%);
}


#sidemenu {background: #363636; border:none; height:60px;}

#sidemenu:after {
content: '';
position: absolute;
display: inline-block;
border-left: 16px solid transparent;
border-right: 14px solid transparent;
border-top: 13px solid #363636;
left: 119px !important;
top: 56px !important;
}

.button.bordered-left-button {border-right: 1px solid #fff;}
.button.button-light.button-telstra {padding:9px 12px; font-family:Gravur; font-size:1.6em; border:none; border-radius:0;}
.button.button-light.button-telstra:after {
	font-family: ionicons;
	content: '\f154';
	display: block;
	width: 49px;
	height: 60px;
	position: absolute;
	right: -49px;
	left: 106px;
	top: 0px;
	padding: 10px;
	font-size: 1.3em;
	color: #818181;
	font-weight: lighter;
	background: #fff;
	}

.button.button-telstra2 {padding: 9px 26px; font-family: Gravur; font-size: 1.7em; border: none; border-radius: 0; 
	background: #303030;
	background: -moz-linear-gradient(top, #303030 0%, #232323 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303030), color-stop(100%,#232323));
	background: -webkit-linear-gradient(top, #303030 0%,#232323 100%);
	background: -o-linear-gradient(top, #303030 0%,#232323 100%);
	background: -ms-linear-gradient(top, #303030 0%,#232323 100%);
	background: linear-gradient(to bottom, #303030 0%,#232323 100%);}

.button.button-telstra2:active {background: linear-gradient(to bottom, #161616 0%,#232323 100%);}

.button-close {position:absolute; top: 8px; right:8px;}
.button-close-fav {float:right; margin-top:15px;}
/*-------------------------
		MODAL
--------------------------*/
.modal.modal-search {width: 75%; position: absolute; border-radius: 3px; left: 150px;}
.modal.modal-share {width: 18%; height: 550px; position: relative; float: right; top: 90px; left: -60px; }
.modal.modal-share:after {
	position: absolute;
	display: inline-block;
	border-bottom: 15px solid transparent;
	border-top: 17px solid transparent;
	border-left: 15px solid #fff;
	left: 192px;
	width: 30px;
	height: 30px;
	right: 0px;
	top: 15px;
	content: '';
}

/*------------------------------HOMEPAGE CSS-----------------------*/
.item-home-container { 
	background: #f2f2f2;
	background: -moz-radial-gradient(center, ellipse cover, #f2f2f2 23%, #c1c1c1 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(23%,#f2f2f2), color-stop(100%,#c1c1c1));
	background: -webkit-radial-gradient(center, ellipse cover, #f2f2f2 23%,#c1c1c1 100%);
	background: -o-radial-gradient(center, ellipse cover, #f2f2f2 23%,#c1c1c1 100%);
	background: -ms-radial-gradient(center, ellipse cover, #f2f2f2 23%,#c1c1c1 100%);
	background: radial-gradient(ellipse at center, #f2f2f2 23%,#c1c1c1 100%); 
	height: 650px;
	
	-moz-box-shadow:
        inset 5px 0 5px -5px #adadad,
        inset -5px 0 20px -5px #adadad;
    -webkit-box-shadow:
        inset 0px 20px 40px 0px #757575,
        inset 0px 20px 40px 0px #757575;
    box-shadow:
        inset 0px 20px 40px 0px #757575,
        inset 0px 20px 40px 0px #757575;
}
.products-container {width: 330px; height:435px; padding:0px; border:1px solid #C4C4C4; display:inline-block; margin-right:-1px; }
.home-image {width: 57%; height: 74%; margin: 27px 0 17px 67px; padding: 10px;}
.top-border {border-top:1px solid #c1c1c1; padding:0;}
.right-border {position: relative; z-index:1; border-right: 1px solid #c1c1c1; height:53px;}
.right-border.home {height:65px;}
.right-border.broadband {height:85px;}
.right-margin {margin-right:10px;}

/*************COMPARE CSS********************/
.item-container {background: #f7f7f7;
background: -moz-linear-gradient(-45deg, #f7f7f7 0%, #f1f1f1 50%, #e1e1e1 50%, #f6f6f6 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f7f7f7), color-stop(50%,#f1f1f1), color-stop(50%,#e1e1e1), color-stop(100%,#f6f6f6));
background: -webkit-linear-gradient(-45deg, #f7f7f7 0%,#f1f1f1 50%,#e1e1e1 50%,#f6f6f6 100%);
background: -o-linear-gradient(-45deg, #f7f7f7 0%,#f1f1f1 50%,#e1e1e1 50%,#f6f6f6 100%);
background: -ms-linear-gradient(-45deg, #f7f7f7 0%,#f1f1f1 50%,#e1e1e1 50%,#f6f6f6 100%);
background: linear-gradient(135deg, #f7f7f7 0%,#f1f1f1 50%,#e1e1e1 50%,#f6f6f6 100%);
}

.item-compare-container {height:570px;}
.item-image.item-compare-container img {width: 65%; height:80%; margin: 58px auto;} 

.item-compare-title {text-align: center; font-family: Ostrich; font-size:3em; color:#363636; text-transform: uppercase;}
h1.item-compare-price {text-align:center; font-family: Bebas; font-size:2.3em; color:#1ec286; font-weight: bold; padding:5px;} 
h2.item-compare-price {text-align: center; font-family: Bebas; font-size:2.2em; color:#1ec286; margin-top:-10px; font-weight: bold; padding:3px;} 
h3.item-compare-price {font-family: Bebas; font-size:1.6em; color:#1ec286; font-weight: bold; padding:3px; } 
p.item-compare-subtitle {text-align: center; font-family: Akkurat; color: #727272; font-size: 1.3em; margin-top: -13px;}
.item-compare-description {text-align: justify; margin-top:-8px; color:#4E4E4E;}
.item.item-body {min-height:1500px;}

/************FAVOURITES CSS*******************/

.item-favourites-container {width: 100%; height: 420px; margin:0 auto;}
.item-image.fave-image img {width: 56%; height: auto; padding-top:20px; padding-bottom:20px;}
.item-favourites-divider {border: 0; height: 2px; margin: 30px 0 10px 0; background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.35), rgba(0,0,0,0));}


.ostrich-menu {font-size:2.2em; text-transform: uppercase; font-family: ostrich;}
.title.ostrich-menu {font-size:2.2em; text-transform: uppercase; font-family: ostrich; margin-top:10px;}
.spacer {padding-right:40px;}

.margin-bottom-xts {margin-bottom:20px;}
.margin-bottom-s { margin-bottom:50px;}
.margin-bottom-m { margin-bottom:80px;}
.margin-bottom-lg { margin-bottom:150px;}
.margin-bottom-xl { margin-bottom:230px;}
.margin-bottom-2xl {margin-bottom:300px;}

/*-------------SHARE Buttons----------------*/

.share-btn-description {font-family: ostrich; margin-top:-3px; color:#18aa78; text-align: center;}
.mail {height:90px; width:135px;}
.sms {height:100px; width:140px;}
.qr {height:100px; width:140px;}

/*---------------SIDENAV CSS-----------------*/

.side-nav {width:60px; z-index:1; position: fixed; top: 180px; right: -9px;}
.button.sidenav-btn {position:relative; background:#a6d054; padding:8px; border-radius:0; height: 75px; border:none;}
.button.sidenav-btn:active, .button.sidenav-btn.activated {background:#c5f170;}
.button.sidenav-btn img {height:auto; top:10px; width: 41px; margin: 9px 0 0 -6px;}
.button.sidenav-btn:before {
	content: '';
	z-index:-1;
	width: 0; 
	height: 0; 
	border-top: 37px solid transparent;
	border-bottom: 38px solid transparent;
	border-right: 18px solid #a6d054;
	position: absolute;
	left: -18px;
	clear:both;
	top: 0px;}

.button.sidenav-btn.active:before, 
.button.sidenav-btn.activated:before {
	z-index:-1;
	border-top: 37px solid transparent;
	border-bottom: 38px solid transparent;
	border-right: 18px solid #c5f170;
	clear: both;
}

/*------------ADDITEM Details----------------*/
.products-container-sm {
	width: 258px;
	height: 295px;
	padding: 0px;
	border: 1px solid #D1D1D1;
	display: inline-block;
	margin-right: -1px;}

.home-image-sm {
	width: 51%;
	height: 74%;
	margin: 11px 0 3px 62px;
	padding: 10px;}

.additem-btn {background:none; border:2px dashed #23c890; padding:20px; width: 133px; height: 105px; -webkit-transform: all .6s ease-in-out;}
.additem-btn:active, .additem-btn.activated {background:none; border:2px dashed #2ad098; -webkit-transform: scale(0.96);}

/*------------IONICONS Custom Icons-----------------*/

.white {color:#23c890; font-size:3.5em;}


/*-------------OneSearch--------*/
.phones {
list-style: none;
}

.search-products-container{
	width: 250px;
	height: 401px;
	padding: 0px;
	border: 1px solid #D1D1D1;
	display: inline-block;
	margin-right: -1px;}

.search-image-sm {
	width: 65%;
	height: 79%;
	margin: 11px 0 15px 45px;
	padding: 10px;}

.product-info-sm {text-align:left; text-transform:uppercase; font-family: Gravur; font-size:1.3em; margin-top:7px!important }
.product-info-m {text-align:left; text-transform:uppercase; font-family: Gravur; font-size:1.8em!important; margin-top:5px!important;}

/*-------------------Tables---------------------*/

table, th, td
{
border-collapse:collapse;
border:1px solid #adadad;
}

th, td
{
padding:15px;
}

/*---------------Broadband Image-------------*/
.usb-image { width:52%; height:auto; margin: 3px 10px 0 70px;}

/*--------------ListView------------------*/

.listview-container {width: 100%; height:300px; padding:0px; border:1px solid #C4C4C4; }
.listview-image {width:150px; height:auto; margin: 0px 0 3px 20px; padding: 8px; }
.listview-subs {color:#363636; text-transform:uppercase;}
.listview-price {color:#1ec286; margin-top:-18px;}
.listview-description {width:80%; text-align:justify; margin-top:-8px; color:#4E4E4E;}

/*-----------SlideBox-------------*/
.slidebox-left 
	{
	-webkit-transform: rotateY(8deg) scale(0.8) translateX(15%);
	left: -5%; z-index:0;-webkit-box-shadow: inset -13px 0px 30px -10px rgba(50, 50, 50, 0.64);
	}
.slidebox-right
	{
		-webkit-transform: rotateY(-13deg) scale(0.8) translateX(-16%);
		left: -5%; z-index:0; -webkit-box-shadow: inset 13px 0px 30px -10px rgba(50, 50, 50, 0.64);
	}
.slidebox-main {position: relative; top: 10%; left: 7%;}