<ion-view>

  <ion-header-bar align-title="center" class="bar bar-dark" id="heading">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
          <h1 class="title"><img class="logo" src="img/logo.png"/></h1>
        <button class="button button-icon" ng-click="modal.show()"><i class="icon ion-ios7-search"></i></button>
  </ion-header-bar>

  <ion-sub-header-bar align-title="center" class="bar bar-dark mysubheading">
       <button class="button button-icon" ng-click="doTheBack()"><i class="icon ion-ios7-arrow-left"></i></button>
       <h2 class="title ostrich">COMPARE ({{compareItem.length}})</h2>
       <button class="button button-icon" ng-controller="sharemodalCtrl" ng-click="modal.show()"><i class="icon ion-ios7-upload-outline"></i></button>
  </ion-sub-header-bar>

  <ion-content padding="true">
    <div class="row margin-bottom-lg">
      <div class="col"></div>
    </div>
  
    <!-- Static Template for Compare -->

    <div class="row">
        <div class="col col-33 right-margin" ng-repeat="item in compareItem">
            <div class="list card">
                <div class="item item-image item-container item-compare-container">
                    <div class="row">
                    <button class="button button-outline icon ion-android-close button-close" ng-click="removeCompareItem($index)"></button>
                    <img src="{{item.images[0]}}">
                    </div>
                </div>
                <div class="item item-body">
                  <h1 class="item-compare-title">{{item.name}}</h1>
                  <p class="item-compare-subtitle">{{item.color}}</p>
                  <h2 class="item-compare-price">${{item.price}}.00</h2>
                  <p class="item-compare-description">{{item.description[0]}}</p>
                  <div class="margin-bottom-s"></div>
                  <h2>Feature 1</h1>
                  <p>{{item.specs.brand}}</p>
                  <h2>Feature 2</h1>
                  <p>{{item.specs.color}}</p>
                  <h2>Feature 3</h1>
                  <p>{{item.specs.weight}}</p>
                  <h2>Feature 4</h1>
                  <p>{{item.specs.dimensions}}</p>
                </div>
            </div>
        </div>

     <!-- 3rd -->

     <div class="col col-33">
        <div class="list card">
      
        <div class="item item-image item-container item-compare-container">
          <div class="row">
            <div class="col">
                <div class="margin-bottom-xl"></div>
                 <a ng-controller="additemCtrl" ng-click="modal.show()" class="button button-lg additem-btn"><i class="ion-plus white"></i></a>
            </div>
          </div>
        </div>
      </div>
     </div>
    </div>

  </ion-content>
</ion-view>
