<ion-view>

  <ion-header-bar align-title="center" class="bar bar-dark" id="heading">
  <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <h1 class="title"><img class="logo" src="img/logo.png"/></h1>
  <button class="button button-icon" ng-click="modal.show()"><i class="icon ion-ios7-search"></i></button>
  </ion-header-bar>

   <ion-sub-header-bar align-title="center" class="bar bar-dark mysubheading">
    <button class="button button-icon" ng-click="doTheBack()"><i class="icon ion-ios7-arrow-left"></i></button>
  <h2 class="title ostrich">FAVOURITES ({{favorites.length}})</h2>
  </ion-sub-header-bar>


  <ion-content padding="true">
  <div class="row margin-bottom-lg">
  <div class="col"></div>
  </div>

  <!-- Static Template for Fave Page -->

    <div class="row" ng-repeat="item in favorites">
        <div class="col col-80" style="margin: 0 auto;">
        <button class="button button-outline icon ion-android-close button-close-fav" ng-click="removeFavoriteItem($index)"></button>
        <h1 class="item-compare-title">{{item.name}}</h1>
        <p class="item-compare-subtitle">{{item.color}}</p>
        <h2 class="item-compare-price">${{item.price}}.00</h2>

        <div class="item-favourites-container margin-bottom-s">
            <div class="slidebox-main">
                <div class="item-container search-products-container slidebox-left">
                    <img class="search-image-sm" src="{{item.images[0]}}">
                </div>
                <div class="item-container search-products-container" style="position:relative; z-index: -1;">
                    <img class="search-image-sm" src="{{item.images[1]}}">
                </div>
                <div class="item-container search-products-container slidebox-right">
                    <img class="search-image-sm" src="{{item.images[2]}}">
                </div>
            </div>
        </div>
        <p class="item-compare-description" ng-repeat="desc in item.description">{{desc}}</p>
         <div class="item-favourites-divider"></div>
        </div>
    </div>

  </ion-content>
</ion-view>
