<ion view>

  <ion-header-bar align-title="center" class="bar bar-dark" id="heading">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
          <h1 class="title"><img class="logo" src="img/logo.png"/></h1>
        <button class="button button-icon" ng-click="modal.show()"><i class="icon ion-ios7-search"></i></button>
  </ion-header-bar> 

  <ion-content>
    <div class="row">
      <div class="col">
      </div>
    </div>
          <ion-slide-box>
            <ion-slide>
              <div class="box yellow">
                <div class="row" id="spectrum-container-2"> 
                   <div class="col col-50">
                      <div class="margin-bottom-lg"></div>
                      <img src="img/pulse.png" style="margin-left:10px;">
                  </div>
                  <div class="col" style="margin-left:70px;">
                    <div class="margin-bottom-2xl"></div>
                    <h1 class="gravur header-white">Telstra Pulse</h1>
                    <h1 class="gravur header-white">T790 Pre Paid</h1>
                    <h3 class="gravur p-white">10% Discount</h3>
                    <div class="margin-bottom-lg"></div> 
                  </div>
                </div>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="box blue">
                <div class="row" id="spectrum-container-1"> 
                  <div class="col" style="margin-left:30px;">
                    <div class="margin-bottom-2xl"></div>
                    <h1 class="gravur header-white">HUAWEI</h1>
                    <h1 class="gravur header-white">ASCEND Y300</h1>
                    <h3 class="gravur p-white">Now only $79 save $20</h3>
                    <div class="margin-bottom-lg"></div> 
                  </div>
                  <div class="col col-67">
                      <div class="margin-bottom-lg"></div>
                      <img src="img/ascend2.png" style="margin-left:70px;">
                  </div>
                </div>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="box pink">
                <div class="row" id="spectrum-container-3"> 
                  <div class="col col-50">
                      <div class="margin-bottom-lg"></div>
                      <img src="img/optimus.png" style="margin-left:10px;">
                  </div>
                  <div class="col" style="margin-left:70px;">
                    <div class="margin-bottom-2xl"></div>
                    <h1 class="gravur header-white">LG Optimus L7 II </h1>
                    <h1 class="gravur header-white">Smartphone</h1>
                    <h3 class="gravur p-white">10% Discount</h3>
                    <div class="margin-bottom-lg"></div> 
                  </div>
                </div>
              </div>
            </ion-slide>
            <ion-slide>
              <div class="box green">
                <div class="row" id="spectrum-container-4"> 
                  <div class="col" style="margin-left:30px;">
                    <div class="margin-bottom-2xl"></div>
                    <h1 class="gravur header-white">HUAWEI</h1>
                    <h1 class="gravur header-white">ASCEND Y300</h1>
                    <h3 class="gravur p-white">Now only $79 save $20</h3>
                    <div class="margin-bottom-lg"></div> 
                  </div>
                  <div class="col col-67">
                      <div class="margin-bottom-lg"></div>
                      <img src="img/young.png" style="margin-left:70px;">
                  </div>
                </div>
              </div>
            </ion-slide>
          </ion-slide-box>

    <div class="margin-bottom-s"></div>
  
        <div class="row">
          <div class="col">

        <div id="main">
       
        <div class="item-home-container">
          
          <div ng-controller="tabsController">
              <nav class="mytabs">
                <div class="button-bar" style="border-bottom:4px solid #b7b7b7; padding-bottom:none;">
                    <button class="button mylink" ng-repeat="tab in tabs" ng-bind="tab.name" ng-class="{active: current == tab.name}" ng-click="toggleTab(tab)"></button>
                </div>
              </nav>  
              <div class="animate-container">
                 <div ng-include="tab" class="mytabs-data view-animate"></div>
              </div>
          </div>         
        </div>
        

      </div>

        </div>
      </div>

<!--     <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>
  </ion-content>
 -->


</ion-view>