<html>
<body>
<ion-side-menus>

  <ion-pane ion-side-menu-content drag-content="false">
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left" ng-controller="MainCtrl">
         <header animation="nav-title-slide-ios7" class="bar bar-header bar-dark" id="sidemenu">
            <button ng-click="showTopLevelCategories()" ng-class="{ hide: hideSidemenuBackButton }" class="button button-icon icon ion-ios7-arrow-left"> </button>
            <h1 class="title ostrich-menu">Menu</h1>
            <button class="button button-icon icon ion-ios7-close-empty" nav-clear menu-close ></button>
        </header>

    <ion-content class="has-header" animation="nav-title-slide-ios7">
      <div class="margin-bottom-s"></div>
        <ul class="list">
          <a nav-clear menu-close class="item ostrich-menu" href="#/app/homepage">
            <i class="icon ion-home spacer"></i> Home 
          </a>
          
            <div ng-repeat="category in categories" >
                    <a href="" ng-if="category.taxons.length > 0 && category.is_first_level" ng-click="showSubcategories(category)" class="item ostrich-menu" href="#" ><i class="icon ion-navicon spacer"></i> {{category.name}} </a>

                    <a nav-clear menu-close href="" ng-if="category.taxons.length == 0 || !category.is_first_level" href="#/category/{{category.id}}" class="item ostrich-menu" ng-click="redirect(category.id)"><i class="icon ion-ios7-checkmark-empty spacer"></i> {{category.name}}</a>                    
          </div>
          
          <a nav-clear menu-close class="item ostrich-menu" href="#/app/search">
            <i class="icon ion-ios7-search spacer"></i> Search
          </a>
          <a nav-clear menu-close ng-controller="CompareCtrl" class="item ostrich-menu" href="#/app/compare">
            <i class="icon ion-ios7-compose spacer"></i> Compare ({{compareItem.length}})
          </a>
          <a nav-clear menu-close ng-controller="FavoritesCtrl" class="item ostrich-menu" href="#/app/favourites">
            <i class="icon ion-ios7-heart spacer"></i> Favourites ({{favorites.length}})
          </a>
          
          <div class="margin-bottom-m"></div>
  
          <a nav-clear menu-close class="item ostrich-menu">
            <i class="icon ion-ios7-close-outline spacer"></i> Close
          </a>
        </ul>
    </ion-content>
  </ion-side-menu>

<!-- for the right-sidenav -->
  <ion-side-menu side="right" ng-controller="sidenavCtrl">
        <header animation="nav-title-slide-ios7" class="bar bar-header bar-dark" id="sidemenu">
            <h1 class="title ostrich-menu"><p ng-repeat="title in titles">{{title.name}}</p></h1>
            <button class="button button-icon icon ion-ios7-close-empty" nav-clear menu-close ></button>
        </header>
        <ion-content padding="true">
        <div class="margin-bottom-m"></div>
             <ion-list>
              <ion-item ng-repeat="attendee in attendees">
                {{attendee.firstname}}
                {{attendee.lastname}}
              </ion-item>
             </ion-list>
        </ion-content>
  </ion-side-menu>

</ion-side-menus>
</body>
</html>