<ion-view>

  <ion-header-bar align-title="center" class="bar bar-dark" id="heading">
        <div style="z-index:9999;" ng-include src="'templates/tpl/side-nav.html'"></div>
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
          <h1 class="title"><img class="logo" src="img/logo.png"/></h1>
        <button class="button button-icon" ng-click="modal.show()"><i class="icon ion-ios7-search"></i></button>
  </ion-header-bar>

  <ion-sub-header-bar align-title="center" class="bar bar-dark mysubheading">
       <button class="button button-icon" ng-click="doTheBack()"><i class="icon ion-ios7-arrow-left"></i></button>
        <h2 class="title ostrich" ng-controller="onesearchCtrl">Mobile ({{phones.length}})</h2>
  </ion-sub-header-bar>

  <ion-content padding="true">
  	     <div class="row">
            <div class="col" style="margin:0 0 0 25px;">
              <div class="margin-bottom-lg"></div>

              <!-- <div class="button-bar margin-bottom-s" style="width:20%; margin:0 auto 50px;">
                <a class="button" ng-class="{'button-calm': isActive('gridview')}" ng-click="setActive('gridview')"><i class="icon ion-grid"></i></a>
                <a class="button" ng-class="{'button-calm': isActive('listview')}" ng-click="setActive('listview')"><i class="icon ion-navicon"></i></a>
              </div> -->
              
                <div ng-controller="onesearchCtrl">
                  <div class="button-bar margin-bottom-s" style="width:20%; margin:0 auto 50px;">
                    <a class="button" ng-click="gridview()"><strong><i class="icon ion-grid"></i></strong></a>  
                    <a class="button" ng-click="listview()"><strong><i class="icon ion-navicon"></i></strong></a>   
                  </div>

                 <div class="list list-inset">
                <label class="item item-input">
                  <input ng-model="query" type="search" placeholder="Search Item">
                </label>

                 <label class="item item-input item-select">
                  <div class="input-label">
                    Sort by
                  </div>
                  <select ng-model="orderProp">
                    <option value="name">Alphabetical</option>
                    <option value="age">Latest</option>
                    <option value="price">Price-Lowest</option>
                    <option value="-price">Price-Highest</option>
                    <option value="brand">Brand</brand> <!-- 1-Nokia, 2-Samsung, 3-Telstra, 4-LG, 5-Apple -->
                  </select>
                </label>
                </div>

                <div class="margin-bottom-xts"></div>
         
                <div ng-show="showView()" class="sample-show-hide">
                   <div class="phones">
                    <div ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="fade listview-container item-container" style="margin-bottom:50px;">
                      <div class="row">
                        <div class="col col-20">
                         <a href="#/app/{{phone.id}}"><img class="listview-image" ng-src="{{phone.imageUrl}}"></a>
                        </div>
                        <div class="col col-80">
                          <div class="margin-bottom-xts"></div>
                          <h1 class="gravur listview-subs">{{phone.name}}</h1>
                          <h1 class="bebas listview-price margin-bottom-xts">${{phone.price}}.00</h1>
                          <h4 class="akkurat listview-subs">Description:</h4>
                         <p class="listview-description" ng-repeat="snippet in phone.snippet">{{snippet}} <br><br></p>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>

                <div ng-hide="showView()" class="sample-show-hide">
                  <div class="phones">
                    <div ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="fade products-container item-container" style="margin-bottom:50px;">
                      <a href="#/app/{{phone.id}}"><img class="home-image" ng-src="{{phone.imageUrl}}"></a>
                      <div class="row top-border">
                          <div class="col col-33 right-border home">
                              <h1 class="item-compare-price">${{phone.price}}.00</h1>
                          </div>
                          <div class="col col-67">
                              <h3 class="product-info-m">{{phone.name}}<h3>
                          </div>
                        </div> 
                    </div>
                  </div>
                </div>
              </div>
          </div>
  </ion-content>

</ion-view>
