<ion-view>

  <ion-header-bar align-title="center" class="bar bar-dark" id="heading">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
          <h1 class="title"><img class="logo" src="img/logo.png"/></h1>
        <button class="button button-icon" ng-click="modal.show()"><i class="icon ion-ios7-search"></i></button>
  </ion-header-bar>

  <ion-sub-header-bar align-title="center" class="bar bar-dark mysubheading">
        <button class="button button-icon" ng-click="doTheBack()"><i class="icon ion-ios7-arrow-left"></i></button>
        <h2 class="title ostrich">Recharge</h2>
    </ion-sub-header-bar>

  <ion-content padding="true">
  	<div class="row margin-bottom-m">
  		<div class="col"></div>
  	</div>
    <h2>Recharge Contents</h2>
  </ion-content>

</ion-view>
