<ion-view>
  <ion-header-bar align-title="center" class="bar bar-dark" id="heading">
        <button menu-toggle="left" class="button button-icon icon ion-navicon bordered-left"></button>
          <h1 class="title"><img class="logo" src="img/logo.png"/></h1>
        <button class="button button-icon" ng-click="modal.show()"><i class="icon ion-ios7-search"></i></button>
  </ion-header-bar>

  <ion-content padding="true" class="has-header">
  
    <div class="row margin-bottom-s">
      <div class="col"></div>
    </div>

   	<div class="card" ng-controller="onesearchCtrl">
  	  <div class="item item-text-wrap">
  	       
          <div class="row responsive-sm responsive-md responsive-lg">
            <div class="col">
              
              <!--Sidebar content-->
              <div class="list list-inset">
                <div class="margin-bottom-xts"></div>
                <label class="item item-input">
                  <input ng-model="query" type="search" placeholder="Search Item">
                </label>

                 <label class="item item-input item-select">
                <div class="input-label">
                  Sort by
                </div>
                <select ng-model="orderProp">
                  <option value="name">Alphabetical</option>
                  <option value="age">Latest</option>
                  <option value="price">Price-Lowest</option>
                  <option value="-price">Price-Highest</option>
                  <option value="brand">Brand</brand> <!-- 1-Nokia, 2-Samsung, 3-Telstra, 4-LG, 5-Apple -->
                </select>
              </label>
              </div>

            </div>
          </div>
          <div class="row responsive-sm responsive-md responsive-lg">
            <div class="col">
              <div class="margin-bottom-xts"></div>
              <div class="phones">
                <div ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="fade search-products-container item-container margin-bottom-s">
                  <a href="#/app/{{phone.id}}"><img class="search-image-sm" ng-src="{{phone.imageUrl}}"></a>
                  <div class="row responsive-sm responsive-md responsive-lg top-border">
                      <div class="col col-33 right-border">
                          <h3 class="item-compare-price">${{phone.price}}.00</h3>
                      </div>
                      <div class="col col-67">
                          <h2 class="product-info-sm">{{phone.name}}<h2>
                      </div>
                    </div> 
                   <!-- <p>{{phone.snippet}}</p> -->
                </div>
              </div>

            </div>
          </div>
  	  </div>
	  </div>
  </ion-content>
</ion-view>
