<ion-scroll direction="x">
          <div style="width:3300px;" ng-controller="onesearchCtrl">
              <div class="margin-bottom-xts" ></div>
              <div class="row">
                <div class="col">
                  <div class="margin-bottom-xts"></div>
                  <div class="phones">
                    <div ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="search-products-container item-container margin-bottom-s">
                      <a href="#/app/search/{{phone.id}}"><img class="search-image-sm" ng-src="{{phone.imageUrl}}"></a>
                      <div class="row top-border">
                          <div class="col col-33 right-border">
                              <h3 class="item-compare-price">${{phone.price}}</h3>
                          </div>
                          <div class="col col-67" style="padding:10px;">
                              <h2 style="font-size: 1em;" class="gravur">{{phone.name}}<h2>
                          </div>
                        </div> 
                       <!-- <p>{{phone.snippet}}</p> -->
                    </div>
                  </div>

                </div>
              </div>
              </div>
          </div>
    </div>
</ion-scroll>
