<ion-scroll direction="x">
          <div style="width:2200px;" ng-controller="mobileCtrl">
            <div class="row">
            <div class="col">
              <div class="margin-bottom-xts"></div>
              <div class="phones">
                <div ng-repeat="phone in phones" class="products-container">
                  <a href="#/app/{{phone.id}}"><img class="home-image" ng-src="{{phone.imageUrl}}"></a>
                  <div class="row top-border">
                      <div class="col col-33 right-border home">
                          <h1 class="item-compare-price">${{phone.price}}.00</h1>
                      </div>
                      <div class="col col-67">
                          <h3 class="product-info-m">{{phone.name}}<h3>
                      </div>
                    </div> 
                   <!-- <p>{{phone.snippet}}</p> -->
                </div>
              </div>

            </div>
          </div>
        </div>
</ion-scroll>