
      <div class="modal modal-share">

        <ion-header class="card bar bar-header bar-light">
          <h1 class="title bebas" style="font-size:1.5em">SHARE</h1>
          <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-ios7-close-empty"></span></div>
        </ion-header>

        <ion-content has-header="true" padding="true">
			
		<div class="row">
        <div class="col col-80" style="margin: 0 auto;">
        	<div class="margin-bottom-xts"></div>
        	 
        	 <a href=""><img src="img/mail.png" class="mail"></a>
         	 <h3 class="share-btn-description">MAIL</h3>
	
			<div class="margin-bottom-xts"></div>

         	 <a href=""><img src="img/sms.png" class="sms"></a>
         	 <h3 class="share-btn-description">SMS</h3>
	
			<div class="margin-bottom-xts"></div>

         	 <a href=""><img src="img/qr.png" class="qr"></a>
         	 <h3 class="share-btn-description">QR CODE</h3>
        </div>
      </div>

        </ion-content>
        
      </div>
