
 <div class="modal modal-search">

        <ion-header class="card bar bar-header bar-light">
          <h1 class="title bebas" style="font-size:1.5em">ADD ITEM</h1>
          <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-ios7-close-empty"></span></div>
        </ion-header>

        <ion-content has-header="true" padding="true">

			<div class="container item-container">	
				<div class="margin-bottom-s"></div>
			  	<div class="row margin-bottom-xts">
			  		<div class="col">
						<ion-scroll direction="x">
						    <div style="width:3300px;" ng-controller="onesearchCtrl">
						    	<div class="margin-bottom-xts" ></div>
						            <div class="row">
						               <div class="col">
						                <div class="margin-bottom-xts"></div>
						                  <div class="phones">
						                   <div ng-repeat="phone in phones" class="search-products-container item-container margin-bottom-s">
						                     <a ng-click="addCompare(phone.id)"><img class="search-image-sm" ng-src="{{phone.imageUrl}}"></a>
						                      <div class="row top-border">
						                         <div class="col col-33 right-border">
						                              <h3 class="item-compare-price">${{phone.price}}</h3>
						                         </div>
						                         <div class="col col-67" style="padding:10px;">
						                              <h2 style="font-size: 1em;" class="gravur">{{phone.name}}<h2>
						                         </div>
						                        </div> 
						                       <!-- <p>{{phone.snippet}}</p> -->
						                    </div>
						                  </div>

						                </div>
						              </div>
						            </div>
						          </div>
						    </div>
						</ion-scroll>
					</div>					
				</div>
			</div>
        </ion-content>
      </div>
