      <div class="modal modal-search">

        <ion-header class="card bar bar-header bar-light">
          <h1 class="title bebas" style="font-size:1.5em">SEARCH</h1>
          <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-ios7-close-empty"></span></div>
        </ion-header>

        <ion-content has-header="true" padding="true">
			<div class="margin-bottom-m"></div>

			<div class="container">	
			  	<div class="row margin-bottom-xts">
			  		<div class="col">
						<div class="list list-inset">
						  <label class="item item-input" style="padding:13px;">
						    <i class="icon ion-ios7-search placeholder-icon" style="font-size:1.3em; "></i>
						    <input type="text" placeholder="Search Items" class="ostrich" style="font-size:1.8em; line-height: 30px;">
						  </label>	
						</div>
					</div>					
				</div>
				
				<div class="row">
					<div class="col col-50">
						<button class="button button-medium button-block button-dark button-telstra2"><i style="float:right" class="icon ion-ios7-close-empty"></i> CLEAR</button>	
					</div>

					<div class="col col-50">
						<button class="button button-medium button-block button-dark button-telstra2"><i style="float:right" class="icon ion-ios7-search"></i> GO</button>					
					</div>
				</div>
			</div>

        </ion-content>
        
      </div>
