<ion-view>

  <ion-header-bar align-title="center" class="bar bar-dark" id="heading">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
          <h1 class="title"><img class="logo" src="img/logo.png"/></h1>
        <button class="button button-icon" ng-click="modal.show()"><i class="icon ion-ios7-search"></i></button>
  </ion-header-bar>

   <ion-sub-header-bar align-title="center" class="bar bar-dark mysubheading">
        <button class="button button-icon" ng-click="doTheBack()"><i class="icon ion-ios7-arrow-left"></i></button>
        <h2 class="title ostrich" style="font-weight:light;">{{phone.name}}</h2>
        <button class="button button-icon" ng-controller="sharemodalCtrl" ng-click="modal.show()"><i class="icon ion-ios7-upload-outline"></i></button>
  </ion-sub-header-bar>


  <ion-content padding="true">
  	<div class="row margin-bottom-m">
      <div class="col"></div>
    </div>

      <!-- Phone-Detail Binding Starts Here -->

      <div class="row">
        <div class="col col-80" style="margin: 0 auto;">
          <h1 class="item-compare-title">{{phone.name}}</h1>
          <p class="item-compare-subtitle">{{phone.color}}</p>
          <h2 class="item-compare-price">${{phone.price}}.00</h2>  

               <div class="item-favourites-container margin-bottom-s">
                <div class="slidebox-main">
                 <div class="item-container search-products-container slidebox-left">
                  <img class="search-image-sm" ng-src="{{phone.images[1]}}">
                </div>
                <div class="item-container search-products-container" style="position:relative; z-index: -1;">
                  <img class="search-image-sm" ng-src="{{phone.images[0]}}">
                </div>
                <div class="item-container search-products-container slidebox-right">
                 <img class="search-image-sm" ng-src="{{phone.images[2]}}">
                </div>
                </div>
              </div>

        <table>
					<tr>
						<td><dt>Description</dt></td>
						<td style="width:100%;"><ul><li style="color:#5b5b5b;" ng-repeat="description in phone.description">{{description}} <br><br></li></ul></td>					
					</tr>

					<tr>
						<td><dt>General Info</dt></td>
						<td><div class="row">
                  <div class="col col-33">
                    <dt>Brand</dt>
                    <dt>Model</dt>
                    <dt>Color</dt>
                    <dt>Weight</dt>
                    <dt>Dimensions</dt>
                    <dt>Warranty</dt>
                    <dt>Catalogue No.</dt>
                  </div>

                  <div style="color:#5b5b5b;" class="col col-67">
                    <dd>{{phone.specs.brand}}</dd>
                    <dd>{{phone.specs.model}}</dd>
                    <dd>{{phone.specs.color}}</dd>
                    <dd>{{phone.specs.weight}}</dd>
                    <dd>{{phone.specs.dimensions}}</dd>
                    <dd>{{phone.specs.warranty}}</dd>
                    <dd>{{phone.specs.catno}}</dd>
                  </div>
                </div>
            </td>
					</tr>
        </table>

        <!-- for specs2 details (Product Specification) -->
          <!-- <tr>
            <td><dt>Product Specification</dt></td>
            <td><div class="row">
              <div class="col col-21">
                 <dt>Battery Type</dt>
                 <dt>Built In Speakerphone</dt>
                 <dt>Gaming Compatible</dt>
                 <dt>GPS Enabled</dt>
                 <dt>Display Colours</dt>
                 <dt>Mobile Email</dt>
                 <dt>Mobile HSDPA</dt>
                 <dt>Expandable Memory</dt>
                 <dt>Camera</dt>
                 <dt>Memory</dt>
                 <dt>FM Radio</dt>
                 <dt>Mobile GPRS</dt>
                 <dt>Mobile Infrared</dt>
                 <dt>Polyphonic Ringtones</dt>    
                 <dt>3G</dt>
                 <dt>Display Type</dt>
                 <dt>MP3</dt>
                 <dt>Screen Resolution</dt>
                 <dt>Screen Size (Inch)</dt>
                 <dt>Standby Time</dt>
                 <dt>Talk Time</dt>
                 <dt>Touch Screen</dt>
              </div>

              <div style="color:#5b5b5b;" class="col col-80">
                <dd>{{phone.specs2.batteryType}}</dd>
                <dd>{{phone.specs2.speakerPhone }}</dd>
                <dd>{{phone.specs2.gaming}}</dd>
                <dd>{{phone.specs2.gps}}</dd>
                <dd>{{phone.specs2.displayColors}}</dd>
                <dd>{{phone.specs2.mobileEmail}}</dd>
                <dd>{{phone.specs2.mobileHsdpa}}</dd>
                <dd>{{phone.specs2.memoryExpand}}</dd>
                <dd>{{phone.specs2.rearCamera}}</dd>
                <dd>{{phone.specs2.memory}}</dd>
                <dd>{{phone.specs2.fmRadio}}</dd>
                <dd>{{phone.specs2.gprs}}</dd>
                <dd>{{phone.specs2.infrared}}</dd>
                <dd>{{phone.specs2.ringtones}}</dd>
                <dd>{{phone.specs2.3G}}</dd>
                <dd>{{phone.specs2.displayType}}</dd>
                <dd>{{phone.specs2.mp3}}</dd>
                <dd>{{phone.specs2.screenResolution}}</dd>
                <dd>{{phone.specs2.screenSize}}</dd>
                <dd>{{phone.specs2.standBy}}</dd>
                <dd>{{phone.specs2.talkTime}}</dd>
                <dd>{{phone.specs2.touchScreen}}</dd>
              </div>

            </td>
          </tr> -->

        <!-- Add Push Function for adding to favourites and compare -->

          <div class="row">
            <div class="col col-50">
            <button class="button button-medium button-block button-dark button-telstra2" ng-click="addFavorite(phone)" ><i style="float:right" class="icon ion-ios7-heart"></i> ADD TO FAVOURITES</button>
            </div>
            <div class="col col-50">
            <button class="button button-medium button-block button-dark button-telstra2" ng-click="addCompare(phone)"><i style="float:right" class="icon ion-ios7-arrow-right"></i> COMPARE ITEM</button>
            </div>
          </div>

           <div class="item-favourites-divider margin-bottom-m"></div>
        </div>
      </div>

      <div class="margin-bottom-m">
        <div class="row">
          <div class="col col-33">
            <h2 style="color:#606060;" class="ostrich"><i class="icon ion-ios7-browsers"></i> Related Items</h2>
          </div>
        </div>
          <div ng-include="'templates/tpl/relateditems.html'"></div>  <!-- Include Related Items (Phone) -->   
        </div>


  </ion-content>

</ion-view>