<div class="side-nav" ng-controller="sidenavCtrl">
      <p><button ng-click="shopbycateg()" class="button button-lg sidenav-btn"><img src="img/shopbycategory.png"></button></p>
      <p><button ng-click="filter()" class="button button-lg sidenav-btn"><img src="img/filter.png"></button></p>
      <p><button ng-click="sort()" class="button button-lg sidenav-btn"><img src="img/sort.png"></button></p>
</div>
